DATABASE_URL="file:./dev.db"
NEXT_PUBLIC_APP_NAME="A1 Luxury Furniture"
NEXT_PUBLIC_APP_URL="https://furniture-samriidhpandey.vercel.app"
RAZORPAY_KEY_ID="rzp_test_luxury_a1_demo"
RAZORPAY_KEY_SECRET="sec_luxury_a1_mock_secret_key"
RAZORPAY_WEBHOOK_SECRET="whsec_luxury_a1_webhook_secret_key"
NEXT_PUBLIC_RAZORPAY_KEY_ID="rzp_test_luxury_a1_demo"
COMPANY_GSTIN="27AABCA1234F1Z5"
COMPANY_NAME="A1 Luxury Furniture India Private Limited"
COMPANY_ADDRESS="The Penthouse Gallery, Level 14, Palladium Annex, High Street Phoenix, Lower Parel, Mumbai, Maharashtra 400013"
COMPANY_PHONE="+91 (022) 6940 8800"
COMPANY_EMAIL="concierge@a1furniture.com"
